body{
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
    margin: 0;
}
.header-container{
    height: 100vh;
    border: 1px solid black;

}

.my-blog{
    text-align: center;
    font-size: clamp(20px,5vw, 40px);
}
nav{
    width: 94vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: inline;
    margin-right: clamp(3px,5vw, 30px);
    font-weight: 500;
    font-size: clamp(5px,5vw, 20px);
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.home-paragraph-container{
    margin-left: clamp(3px,5vw, 30px);
    width: clamp(10rem,68vw,40rem);
    word-wrap: break-word;
    margin-top: 11vh;
    position: relative;
}
.header-container img{
    position: absolute;
    top: -10px;
    left: clamp(0rem,65vw, 110rem);
    width: clamp(1rem,25vw, 20rem);
}
.home-paragraph{
    font-size: clamp(0rem, 6vw, 2.0rem);
    line-height: 1.6;
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
}
.home-paragraph-container button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5vh;
    margin-left: 10px;
    transition: transform 0.4s ease-in-out;
}
.home-paragraph-container button:hover{
    transform: scale(1.1);
}
.my-arrow{
    color: white;
    transform: rotate(45deg);
}
/* box-section */

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px,10vw, 70px);
    padding-top: clamp(10px,5vw, 25px);
    padding-bottom: clamp(10px,5vw, 25px);
    flex-wrap: wrap;
    background-color: black;
}
.box{
    width: clamp(10rem,20vw, 20rem);
    height: clamp(5rem,15vw, 20rem);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    font-size: clamp(.68rem,1.3vw, 1rem);
    color: white;
    border: 2px solid white;
    position: relative;
    border-radius: 20px;
}
.box span{
    position: absolute;
    top: 8px;
    left: 1rem;
    font-size: clamp(.8rem, 1.5vw, 1.3rem);

}
.box a{
    position: absolute;
    text-decoration: none;
    color: white;
    bottom: 5px;
    left: 1rem;
}
.box:hover{
    transform: scale(1.1);

}
/* footer section */
footer{
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 1.8rem;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}
footer i{
    transition: transform .9s;
    color: white;
}

footer i:hover{
    transform: translateY(-.3rem);

}
footer span{
    position: absolute;
    bottom: 8px;
    font-size: clamp(.5rem, 1.5vw, .7rem);

}
@media (min-width: 600px) {
    footer{
        gap: 7rem;
    }
    .header-container img{
        width: 30rem;
        left: 710px;
        top: -60px;
    }
}
/* About page */
.about-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.about-text{
    line-height: 1.75;
    position: relative;
    font-size: clamp(.6rem, 2.5vw, 1.3rem);
    float: right;
}
.about-text img{
    width: clamp(5rem,20vw, 15rem);
    border-radius: 10%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
@media (min-width: 600px){
    .about-text{
        line-height: 2;
    }
}
/* Community page */
.community-body{
    height: 81vh;
    display: flex;
    flex-direction: column;
}
.community-container{
    padding: 2rem;

}
.community-container span{
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    padding: 0;
}
/* Projects page */
.project-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.projects-container{
    padding: 2rem;
    flex: 1;
    flex-direction: column;
}
/* notes component */
.note-container{
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
}
.note-date{
    position: absolute;
    right: 0;
    bottom: -10px;
}